{{#> masterLayout }}
    <mj-section padding="0">
        <mj-column width="600px" padding="0">
            <mj-text line-height="20px" css-class="iom-grievance-font" padding="0 60px">
                <p> You forgot your password?</p>
            </mj-text>
            <mj-text css-class="iom-grievance-font" padding="0 60px">
                <p>
                    Don't worry, it happens! <br>
                    Click on the button below to reset your password:
                </p>
            </mj-text>
            <mj-button href="{{webUrl}}/reset-password?token={{token}}" css-class="iom-grievance-button" font-size="12px" font-weight="600"
                       line-height="16px" font-family="Mukta" padding="12px 60px 0 60px" align="left">
                Change password
            </mj-button>
            <mj-text css-class="iom-grievance-font" padding="0 60px">
                <p>
                    If you did not request a new password, please let us know immediately by replying to this email.

                    You can find answers to frequently asked questions and get in touch with us via <a href="/contact">website</a>. We are here to help you at any step along the way.
                </p>
            </mj-text>
            <mj-text font-size="12px" line-height="14px" css-class="iom-grievance-font" padding="0 60px">
                <p align="justify">Kind Regards,</p>
                <p align="justify">iom-grievance Team</p>
            </mj-text>
        </mj-column>
    </mj-section>
{{/masterLayout}}
